---
import Layout from "~/layouts/Layout.astro"
import Section from "@c/Section.astro"
import ExampleHead from "~/components/ExampleHead.astro"

// vanilla
import ControlsSlider from "~/components/vanilla/ControlsSlider.astro"
import Parallax1Slider from "~/components/vanilla/Parallax1Slider.astro"
import FullInterface from "~/components/vanilla/FullInterface.astro"
---

<Layout>
  <Section top class="flex flex-col justify-center">
    <div class="px-gx md:px-ex-gx">
      <h1 class="text-xl font-semibold">Examples.</h1>
      <p class="max-w-[40ch] text-sm text-gray-500">
        A collection of examples of the slider in action and implementation
        ideas.
      </p>
    </div>
  </Section>

  <Section id={"controls"} class="min-h-[80svh] pt-[10svh]">
    <ExampleHead
      title={"Full interface."}
      description={"Available settings with toggle buttons and meters."}
      features={["interface", "speed", "progress", "enable", "toggle"]}
    />
    <FullInterface />
  </Section>

  <Section id={"controls"} class="min-h-[80svh] pt-[10svh]">
    <ExampleHead
      title={"Controls."}
      description={"Previous and next buttons, clickable dots."}
      features={["Infinite", "Snap", "controls"]}
    />
    <ControlsSlider />
  </Section>

  <Section id={"parallax1"} class="min-h-[80svh] pt-[10svh]">
    <ExampleHead
      title={"Parallax."}
      description={"Weird parallax effect."}
      features={["Infinite", "Snap", "Parallax"]}
    />
    <Parallax1Slider />
  </Section>
</Layout>
