---
import Layout from "~/layouts/Layout.astro"
import Section from "@c/Section.astro"
// import VueSlider from "@c/examples/VueSlider.vue"
import ExampleHead from "~/components/ExampleHead.astro"

import ControlsSlider from "~/components/vanilla/ControlsSlider.astro"
---

<Layout>
  <Section top class="px-gx flex flex-col justify-center">
    <h1 class="text-xl font-semibold">Examples.</h1>
  </Section>

  <!-- frameworks -->

  <Section id={"interface"} class="min-h-[80svh] pt-[10svh]">
    <ExampleHead
      title={"Interface"}
      description={"Full interface + controls."}
      features={["Infinite", "Snap", "interface", "Parallax"]}
    />
    <ControlsSlider />
  </Section>

  <!-- <Section top class="px-gx flex flex-col justify-center">
    <h2 class="font-semibold">Frameworks</h2>
    <div class="py-lg flex flex-col gap-2">
      <a href={"#vue"}>{"Vue"}</a>
    </div>
  </Section>

  <Section class="px-gx py-gy">
    <a href="/">Back to home</a>
  </Section> -->
</Layout>
