/* --- opacity on hover */
[data-hover="opacity"] {
  transition: opacity 0.2s ease-out;
}

[data-hover="opacity"]:hover {
  opacity: 0.5;
}

/* inital states */
[data-module="alpha"] {
  visibility: hidden;
}

[data-module="text"] {
  visibility: hidden;
}
