---
const { index = 1, class: className, ...rest } = Astro.props
const slides = Array.from({ length: 10 + Math.random() * 10 }, (_, i) => i)
---

<div data-example="base" class="relative">
  <!-- slider -->
  <div
    {...rest}
    tabindex="0"
    data-slider
    class:list={[
      "py-sm flex w-screen overflow-x-hidden",
      className,
      "px-[calc(50%-40vw)] md:px-[calc(50%-15vw)]",
      "focus:outline-none",
      "pb-xl",
    ]}
  >
    {
      slides.map((slide, i) => (
        <div class="flex aspect-[3/4] w-[80vw] shrink-0 items-center justify-center p-1 md:w-[30vw]">
          <div class="relative h-full w-full p-8 outline outline-gray-800">
            <div data-p class="h-full w-full outline outline-gray-600" />
            <p class="absolute top-2 left-2 z-10">{i}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<script>
  import Core from "smooothy"
  import gsap from "~/js/gsap"

  class BaseSlider extends Core {
    constructor(container: HTMLElement, config = {}) {
      super(container.querySelector("[data-slider]"))
      gsap.ticker.add(this.update.bind(this))
    }
  }

  new BaseSlider(
    document.querySelector("[data-example='controls']") as HTMLElement
  )
</script>

<style></style>
