---
const { index = 1, class: className, ...rest } = Astro.props
const slides = Array.from({ length: 10 + Math.random() * 10 }, (_, i) => i)
---

<div
  {...rest}
  tabindex="0"
  class:list={[
    "flex w-screen overflow-x-hidden",
    className,
    "focus:outline-none",
  ]}
  data-slider="vanilla-finite"
>
  {
    slides.map((slide, i) => (
      <div class="flex aspect-[3/4] w-[80vw] shrink-0 items-center justify-center p-1 md:w-[30vw]">
        <div class="relative h-full w-full border border-gray-700 p-8">
          <p class="absolute top-2 left-2 z-10">{i}</p>
          <div data-parallax class="h-full w-full outline outline-gray-800" />
        </div>
      </div>
    ))
  }
</div>

<script>
  import { Slider } from "~/js/slider"

  const s1 = document.querySelector("[data-slider='vanilla-finite']")
  if (s1) new Slider(s1, { infinite: false })
</script>
