---
const { index = 1, class: className, ...rest } = Astro.props
const slides = Array.from({ length: 10 }, (_, i) => i)
---

<div
  {...rest}
  tabindex="0"
  data-slider="vanilla-different-sizes"
  class:list={[
    "py-sm flex w-screen overflow-x-hidden outline outline-gray-700",
    "h-[60svh]",
    className,
    "px-[3rem]",
    // "px-[calc(50%-40vw)] md:px-[calc(50%-15vw)]",
    "focus:outline-none",
  ]}
>
  {
    slides.map((slide, i) => {
      const isWide = i === 2 || i === 4

      return (
        <div
          class:list={[
            "flex aspect-[3/4] w-[30vw] shrink-0 items-center justify-center p-1 md:h-[40svh]",
            isWide && "w-[110vw] md:w-[50vw]",
            !isWide && "w-[80vw] md:w-[30vw]",
          ]}
        >
          <div
            class:list={[
              "relative flex h-full w-full items-center justify-center p-8 outline outline-gray-600 transition-transform",
            ]}
          >
            <p class="mono text-lg text-gray-200">Slide {i + 1}</p>
          </div>
        </div>
      )
    })
  }
</div>

<script>
  import { Slider } from "~/wip/slider/sizes"
  const s1 = document.querySelector("[data-slider='vanilla-different-sizes']")

  console.log(s1)

  if (s1) new Slider(s1)
</script>
