---
const { index = 1, class: className, ...rest } = Astro.props
const slides = Array.from({ length: 5 }, (_, i) => i)
---

<div
  {...rest}
  tabindex="0"
  data-slider="vanilla-different-sizes"
  class:list={[
    "py-sm flex w-screen overflow-x-hidden outline outline-gray-700",
    className,
    "px-[calc(50%-40vw)] md:px-[calc(50%-15vw)]",
    "focus:outline-none",
  ]}
>
  {
    slides.map((slide, i) => (
      <div class="flex aspect-[3/4] w-[80vw] shrink-0 items-center justify-center p-1 md:w-[30vw]">
        <div class="relative flex h-full w-full items-center justify-center p-8 outline outline-gray-600">
          <p class="mono text-lg text-gray-200">Slide {i + 1}</p>
        </div>
      </div>
    ))
  }
</div>

<script>
  import { Slider } from "~/wip/slider"
  const s1 = document.querySelector("[data-slider='vanilla-different-sizes']")

  if (s1) {
    new Slider(s1, {
      // Minimal example: just initialize the slider with defaults
    })
  }
</script>
