---
const { index = 1, class: className, ...rest } = Astro.props
const slides = Array.from({ length: 10 }, (_, i) => i)
---

<div
  {...rest}
  tabindex="0"
  class:list={[
    "flex w-screen overflow-x-hidden",
    className,
    "focus:outline-none",
    "px-[calc(50%-40vw)] md:px-[calc(50%-15vw)]",
  ]}
  data-slider="vanilla-finite"
>
  {
    slides.map((slide, i) => (
      <div class="flex aspect-[3/4] w-[80vw] shrink-0 items-center justify-center p-1 md:w-[30vw]">
        <div class="relative h-full w-full p-8 outline outline-gray-700">
          <p class="absolute top-2 left-2 z-10">{i}</p>
          <div data-parallax class="h-full w-full outline outline-gray-800" />
        </div>
      </div>
    ))
  }
</div>

<script>
  import { Slider } from "~/wip/slider"

  const s1 = document.querySelector("[data-slider='vanilla-finite']")
  if (s1) {
    const onSlideChange = (slide, previous) => {
      slider.items[previous].children[0].classList.remove("active")
      slider.items[slide].children[0].classList.add("active")
    }

    const onUpdate = slider => {
      // console.log(slider.progress)
      // console.log(Math.abs(slider.current / (slider.items.length - 1)))
    }

    const slider = new Slider(s1, { infinite: false, onSlideChange, onUpdate })

    // slider.current = slider.target = -1

    onSlideChange(0, 0)
  }
</script>

<style>
  .active {
    outline-color: white;
    transition: outline-color 0.5s ease-in-out;
    transition-delay: 0.2s;
    /* background-color: red; */
  }
</style>
