---
const { index = 1, class: className, ...rest } = Astro.props
const slides = Array.from({ length: 10 }, (_, i) => i)
---

<div
  {...rest}
  tabindex="0"
  data-slider="variable-width"
  class:list={[
    "py-sm flex w-screen overflow-x-hidden outline outline-gray-700",
    "h-[60svh]",
    className,
    "px-[3rem]",
    "focus:outline-none",
  ]}
>
  {
    slides.map((slide, i) => {
      const isWide = i === 1 || i === 4 || i === 7

      return (
        <div
          class:list={[
            "flex aspect-[3/4] shrink-0 items-center justify-center p-1 md:h-[40svh]",
            isWide && "w-[110vw] md:w-[50vw]",
            !isWide && "w-[80vw] md:w-[30vw]",
          ]}
        >
          <div
            class:list={[
              "relative flex h-full w-full items-center justify-center p-8 outline outline-gray-600 transition-transform",
            ]}
          >
            <p class="mono text-lg text-gray-200">Slide {i + 1}</p>
          </div>
        </div>
      )
    })
  }
</div>

<script>
  import Core from "smooothy"
  import gsap from "~/js/gsap"

  class VariableWidthSlider extends Core {
    constructor(wrapper, config = {}) {
      super(wrapper, {
        ...config,
        infinite: false,
        snap: true,
        variableWidth: true,
        scrollInput: true,
      })

      gsap.ticker.add(this.update.bind(this))
    }
  }

  const slider = document.querySelector("[data-slider='variable-width']")
  if (slider) {
    new VariableWidthSlider(slider)
  }
</script>

