---
import Script from '../components/Script.astro'
 import Nav from '../components/Nav.astro'
 import Css from '../components/Css.astro'

 const {class:className} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Css />
		<title>Smooothy</title>

	</head>
	<body>
		<Nav />
		<main class={className}>	
			<slot />
		</main>

		<Script />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
