---
import Script from "../components/Script.astro"
import Nav from "../components/Nav.astro"
import Css from "../components/Css.astro"
import Grid from "../components/Grid.astro"

const { class: className, nav, isHome = false } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Css />
    <title>Smooothy</title>

    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta
      name="description"
      content="Smooth configurable extendable slider for creative code."
    />

    <!-- {isHome && <script>history.scrollRestoration = "manual"</script>} -->
  </head>
  <body>
    <Nav>
      {nav}
    </Nav>
    <main class="w-screen overflow-clip">
      <slot />
    </main>

    <Grid />

    <Script />
  </body>
</html>
