---
const SLIDES = Array.from({ length: 11 }, (_, i) => i)
---

<div
  style="--slide-width: clamp(18rem, 25vw, 30rem) "
  class="gap-lg flex w-full flex-col overflow-clip py-4"
  data-module="fslider"
>
  <!-- slider -->
  <ul
    data-slider="wrapper"
    class="ml-[calc(50vw-var(--slide-width)/2)] flex text-[.8em]"
  >
    {
      SLIDES.map(slide => (
        <li class="relative z-2 flex shrink-0 flex-col gap-1 p-2">
          <div class="flex justify-between px-2">
            <p class="tracking-wide">{String(slide).padStart(4, "0")}</p>
            <p class="font-mono text-sm tracking-widest uppercase">current</p>
          </div>
          <div
            data-gl
            class="z-10 aspect-[4/5.5] w-[var(--slide-width)] outline outline-gray-800/20"
          />
          <div class="flex justify-between px-2">
            <h2 class="font-semibold tracking-tighter uppercase">Some Ramen</h2>
            <p>{"[HI]"}</p>
          </div>
        </li>
      ))
    }
  </ul>

  <!-- bottom ui -->
  <div class="flex justify-center -outline-offset-1">
    <div class="flex flex-col gap-2">
      <ul class="flex gap-[1.3rem]">
        {
          SLIDES.map(slide => (
            <li>
              <button aria-label={`slide number ${slide}`}>
                <div class="aspect-square size-[.4rem] w-full rounded-full outline outline-white" />
              </button>
            </li>
          ))
        }
      </ul>

      <!-- sliding thingy -->
      <div class="flex justify-center">
        <div class="h-[2px] w-[30%] bg-white"></div>
      </div>
    </div>
  </div>
</div>
