---
import Section from "@c/Section.astro"

const items = [
  {
    title: "Rationale",
    description:
      "Configurable customisable Extendable smooth bring your own tooling/whatever slider (or carousel?) API.",
  },
  {
    title: "Why",
    description:
      "Configurable customisable Extendable smooth bring your own tooling/whatever slider (or carousel?) API.",
  },
  {
    title: "Idea",
    description:
      "Configurable customisable Extendable smooth bring your own tooling/whatever slider (or carousel?) API.",
  },
  {
    title: "How to",
    description:
      "Configurable customisable Extendable smooth bring your own tooling/whatever slider (or carousel?) API.",
  },
]
---

<Section class="px-gx flex justify-center">
  <div class="w-grids-6">
    <h2 class="inline-block text-xl leading-[1em]">
      <span class="inline-block w-[3rem]"></span>
      Configurable customisable Extendable <span class="inline-block w-[6rem]"
      ></span> smooth bring your own tooling/whatever <span
        class="inline-block w-[6rem]"></span> slider (or carousel?) API.
    </h2>
  </div>

  <!-- <ul>
    {
      items.map(item => (
        <li>
          <h3>{item.title}</h3>
          <p>{item.description}</p>
        </li>
      ))
    }
  </ul> -->
</Section>
