---
import Section from "@c/Section.astro"
import Svgg from "../svg/Svgg.astro"
---

<Section class="px-gx py-xl flex justify-center">
  <div data-module="callout" class="max-w-[24ch] text-[2.6rem]">
    <h2 class="tr-s inline-block leading-[1em]">
      <span
        data-module="draw"
        class="inline-flex w-[5rem] items-center justify-center"
      >
        <Svgg name="wave" />
      </span>
      Configurable customisable extendable <span
        data-module="draw"
        class="inline-flex w-[8rem] items-center justify-center"
        ><Svgg name="extend" /></span
      > smooth bring your own whatever
      <span
        data-module="draw"
        class="inline-flex w-[6rem] items-center justify-center"
      >
        <Svgg name="slider" />
      </span> slider (or carousel?) API.
    </h2>
  </div>
</Section>
