---
import Section from "@c/Section.astro"
import LargeTitle from "@c/landing/LargeTitle.astro"
import GetSlider from "@c/landing/comps/GetSlider.astro"
---

<Section class="px-gx">
  <LargeTitle large="Get" title="Get" description="Get" />

  <GetSlider />
</Section>
