---
import FoodSlider from "@c/landing/comps/FoodSlider.astro"
import Loader from "@c/landing/Loader.astro"
---

<header
  class="py-sm relative flex min-h-[100svh] flex-col items-center justify-between"
>
  <div class="px-gx w-full pt-2">
    <div class="md:px-grid-3 pt-[6rem] md:pt-0">
      <h1
        data-module="text"
        data-type="chars"
        class="md:w-grids-2 w-grids-4 text-xs leading-[1em]"
      >
        Configurable customisable extendable smooth bring your own whatever
        slider API.
      </h1>
    </div>
  </div>

  <FoodSlider />
  <Loader />
</header>
