---
import FoodSlider from "@c/landing/comps/FoodSlider.astro"
---

<header class="py-sm flex min-h-[100svh] flex-col items-center justify-between">
  <div class="px-gx w-full pt-2">
    <div class="px-grid-3">
      <h1 class="w-grids-2 text-xs leading-[1em]">
        Configurable customisable extendable smooth bring your own whatever
        slider API.
      </h1>
    </div>
  </div>

  <FoodSlider />
</header>
