---
import BouncySvg from "./BouncySvg.astro"

const {
  large = "Set",
  title = "Configure",
  description = "Configure your slider",
  flip = false,
} = Astro.props
---

<div
  class:list={[
    "py-xl gap-grid-1 flex flex-col md:flex-row md:items-center",
    flip && "md:flex-row-reverse",
  ]}
>
  <div class="md:w-grid-7">
    <BouncySvg class="w-grid-6 md:ml-grid-1 h-auto" name={large} />
  </div>

  <div class="md:w-grids-3 flex flex-col gap-2">
    <h2
      data-module="text"
      data-type="chars"
      class="tr-s text-[1.6rem] leading-[1em] font-semibold text-balance"
    >
      {title}
    </h2>
    <p
      data-module="text"
      data-type="words"
      class="ml-grid-1 max-w-[80%] md:ml-0"
    >
      {description}
    </p>
  </div>
</div>
