---
const {
  large = "Set",
  title = "Configure Away",
  description = "Configure your slider away",
} = Astro.props
---

<div class="flex">
  <p class="font-weird">
    {large}
  </p>

  <div>
    <h2>{title}</h2>
    <p>{description}</p>
  </div>
</div>
