---
import Section from "@c/Section.astro"
import LargeTitle from "@c/landing/LargeTitle.astro"

const COLUMNS = [
  {
    title: "Setup",
    items: [
      {
        img: () => null,
        title: "CSS Based Setup",
        description: "Use CSS to configure your slider.",
      },
      {
        img: () => null,
        title: "Infinite",
        description: "Use CSS to configure your slider.",
      },
      {
        img: () => null,
        title: "Infinite",
        description: "Use CSS to configure your slider.",
      },
    ],
  },
  {
    title: "Options",
    items: [
      {
        img: () => null,
        title: "Infinite",
        description: "Use CSS to configure your slider.",
      },
    ],
  },
  {
    title: "Customize",
    items: [
      {
        img: () => null,
        title: "Infinite",
        description: "Use CSS to configure your slider.",
      },
    ],
  },
]
---

<Section class="px-gx">
  <LargeTitle
    large="set"
    title="Configure Away."
    description="Through callback functions running with the slider, and an evet API interface."
  />

  <div>
    {
      COLUMNS.map(column => (
        <div>
          <h3>{column.title}</h3>
        </div>
      ))
    }
  </div>
</Section>
