---
import Section from "@c/Section.astro"
import LargeTitle from "@c/landing/LargeTitle.astro"
import Svgg from "../svg/Svgg.astro"

const SET = [
  {
    title: "Setup",
    items: [
      {
        img: "set_css",
        title: "CSS based styling.",
        description:
          "Style your slides as you want, size to offsets, fully in CSS.",
      },
      {
        img: "set_infinite",
        title: "Infinite.",
        description:
          "Automatically loop through slides and repeat them, or simply have a start and stop point.",
      },
      {
        img: "set_snapping",
        title: "Snapping.",
        description:
          "Set if slides are self centering or are allowed to be dragged freely.",
      },
    ],
  },
  {
    title: "Options",
    items: [
      {
        img: "set_drag",
        title: "Drag speed.",
        description:
          "Set how powerful the dragging event and the horizontal trackpad gesture moves the slides.",
      },
      {
        img: "set_conditional",
        title: "Conditional activation.",
        description:
          "Decide which screen sizes or any condition that turn the slider on or off.",
      },
      {
        img: "set_speed",
        title: "Lerp/Damp speed.",
        description:
          "Choose how fast the slider settles and smoothly gets to the target position, consistent through different screens refresh rate.",
      },
    ],
  },
  {
    title: "Customize",
    items: [
      {
        img: "set_extensible",
        title: "Extensible API.",
        description:
          "Extend behaviour and functionality as you please as it’s built for that (and has a nice interface for it).",
      },
      {
        img: "set_configure",
        title: "Configuration setups.",
        description:
          "Pre made slider for most common behaviours, or create your own.",
      },
    ],
  },
]
---

<Section class="px-gx">
  <LargeTitle
    large="set"
    title="Configure."
    description="Through callback functions running with the slider, and an evet API interface."
  />

  <div class="md:pl-grid-2">
    <ul class="md:gap-gutter w-grids-9 flex flex-col gap-[8rem] md:flex-row">
      {
        SET.map(column => (
          <li class="md:w-grid-3 flex flex-col gap-[4rem]">
            <h3
              data-module="text"
              data-type="chars"
              class="font-mono text-[1.1em] tracking-widest uppercase"
            >
              {column.title}
            </h3>
            <ul class="gap-xl flex flex-col items-start">
              {column.items.map(item => (
                <li class="md:max-w-[80%]">
                  <figure
                    data-module="draw"
                    class="py-xl inline-flex w-full items-center justify-center"
                  >
                    <Svgg name={item.img} />
                  </figure>
                  <h4
                    data-module="text"
                    data-type="chars"
                    class="w-full py-2 text-[1.4em] leading-[1.1em] font-semibold tracking-tighter"
                  >
                    {item.title}
                  </h4>
                  <p data-module="text" data-type="words" class="max-w-[28ch]">
                    {item.description}
                  </p>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
