---
import Section from "@c/Section.astro"
import LargeTitle from "@c/landing/LargeTitle.astro"

const COLUMNS = [
  {
    title: "Vanilla Implementation",
    img: () => null,
    description:
      "It's just javascript (and typescript actually) so it kinda just works.",

    links: [
      {
        title: "Link",
        url: "https://example.com",
      },
    ],
  },
  {
    title: "Framework Agnostic",
    img: () => null,
    description:
      "It's just javascript (and typescript actually) so it kinda just works.",

    links: [
      {
        title: "Link",
        url: "https://example.com",
      },
    ],
  },
  {
    title: "Webflow Ready",
    img: () => null,
    description:
      "It's just javascript (and typescript actually) so it kinda just works.",
    links: [
      {
        title: "Link",
        url: "https://example.com",
      },
    ],
  },
]
---

<Section class="px-gx">
  <LargeTitle
    large="use"
    title="Works everywhere. (I think)"
    description="Kinda tested it around in all major frameworks/plaforms, and made some hooks."
  />

  <div>
    {
      COLUMNS.map(column => (
        <div>
          <h3>{column.title}</h3>
          <p>{column.description}</p>
        </div>
      ))
    }
  </div>
</Section>
