---
import Layout from "~/layouts/Layout.astro";
import Section from "@c/Section.astro";
import VanillaSlider from "@c/VanillaSlider.astro";
---

<Layout>
  <Section class="px-0 h-screen flex flex-col  justify-center">
    <div class="px-gx py-gy">
      <p class="mono">Infinite</p>
    </div>
    <VanillaSlider class="px-[calc(50%-15vw)]" data-slider="1" />
  </Section>

  <Section class="px-0 h-screen flex flex-col justify-center">
    <div class="px-gx py-gy">
      <p class="mono">Finite</p>
    </div>
    <VanillaSlider data-slider="2" />
  </Section>
</Layout>
