---
import Layout from "~/layouts/Layout.astro"
import Section from "@c/Section.astro"

// sliders
// import VanillaInfinite from "@c/vanilla/VanillaInfinite.astro"
// import VanillaFinite from "@c/vanilla/VanillaFinite.astro"

import VanillaDifferentSizes from "@c/vanilla/VanillaDifferentSizes.astro"
---

<Layout>
  <Section class="flex h-screen flex-col justify-center px-0">
    <VanillaDifferentSizes />
  </Section>
  <div class="h-[50svh] w-full"></div>
</Layout>
