---

---

<div
  aria-hidden="true"
  class="pointer-events-none fixed inset-0 z-50 hidden md:block"
>
  <div
    data-module="cursor"
    class="size-[.6rem] -translate-x-1/2 -translate-y-1/2"
  >
    <div class="absolute flex size-[1px] items-center justify-center">
      <div cursor-main class="absolute size-[.6rem] bg-white"></div>
    </div>

    <div
      cursor-circle
      class="absolute flex size-[1px] items-center justify-center"
    >
      <div class="absolute size-[1.2rem] rounded-full outline"></div>
    </div>
  </div>
</div>

<style></style>
