---
const { title, description, features, link } = Astro.props
import Svgg from "./svg/Svgg.astro"

import { LINKS } from "~/content"
// extend.md#capture-link-clicks
---

<div class="px-gx py-gy pb-xl pt-[4rem]">
  <div class="md:ml-grid-2">
    <h2 class="text-md mb-2 font-semibold tracking-tighter">{title}</h2>
    <p class="max-w-[40ch] text-gray-400">{description}</p>
    <div class="flex max-w-[40ch] flex-wrap gap-2 py-4">
      {
        features.map((feature: string) => (
          <p class="mono rounded-xl p-1 px-3 text-sm !text-[.5rem] leading-[1.4em] text-gray-300 outline outline-gray-800">
            {feature}
          </p>
        ))
      }
    </div>

    {
      link && (
        <a
          href={link ? LINKS.docs + link : LINKS.docs}
          data-hover="opacity"
          class="flex items-center gap-2"
          target="_blank"
        >
          <span class="inline-block w-[2em]">
            <Svgg name="github" />
          </span>
          <span class="font-mono text-sm tracking-widest uppercase">
            Github
          </span>
        </a>
      )
    }
  </div>
</div>
