---
import Twitter from "@svg/twitter.astro"
import Github from "@svg/github.astro"
import { version } from "../../../package.json"

const links = [
  {
    label: "HOME",
    href: "/",
  },

  {
    label: "EXAMPLES",
    href: "/examples",
  },
  {
    label: "(WIP)",
    href: "/wip",
    style: "text-gray-600",
  },
  {
    label: "TWITTER",
    href: "https://federic.ooo/s/twitter",
    icon: "Twitter",
    target: "_blank",
  },
  {
    label: "GITHUB",
    href: "https://github.com/vallafederico/smooothy",
    icon: "Github",
    target: "_blank",
  },
]
---

<nav
  class="px-gx py-gy pointer-events-none fixed top-0 z-10 flex w-full justify-between md:items-center"
>
  <a href="/" class="pointer-events-auto flex flex-col gap-1">
    <h1 class="text-md leading-[.8em] font-semibold tracking-tighter">
      Smooothy
    </h1>
    <p class="text-sm leading-[.8em] font-light text-gray-200">
      version {version}
    </p>
  </a>
  <slot />
  <ul class="flex flex-col items-end gap-2 md:flex-row md:gap-4">
    {
      links.map(link => (
        <li>
          <a
            href={link.href}
            class:list={[link.style && link.style, "pointer-events-auto"]}
            target={link.target}
          >
            {!link.icon && link.label}
            {link.icon && link.icon === "Twitter" && <Twitter width="2rem" />}
            {link.icon && link.icon === "Github" && <Github width="2rem" />}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
