---
import { version } from "../../../package.json"
import { LINKS } from "~/content"

import Twitter from "@svg/twitter.astro"
import Github from "@svg/github.astro"
import Svgg from "@c/svg/Svgg.astro"

const links = [
  {
    label: "EXAMPLES",
    href: "/examples",
  },
  {
    label: "DOCS",
    href: LINKS.github,
  },
  {
    label: "TWITTER",
    href: LINKS.twitter,
    icon: "Twitter",
    target: "_blank",
  },
  {
    label: "GITHUB",
    href: LINKS.github,
    icon: "Github",
    target: "_blank",
  },
]
---

<nav
  class="px-gx py-gy pointer-events-none fixed top-0 z-10 flex w-full justify-between md:items-start"
>
  <a href="/" class="pointer-events-auto flex -translate-[.3rem] flex-col">
    <div data-module="logo">
      <Svgg name="logo" class="w-[7rem]" />
    </div>
    <p
      class="flex w-[90%] justify-between font-mono text-[.7em] tracking-widest uppercase"
    >
      <span>VERSION</span>
      <span>{version}</span>
    </p>
  </a>

  <ul class="flex flex-col items-end gap-2 md:flex-row md:gap-4">
    {
      links.map(link => (
        <li>
          <a
            href={link.href}
            class:list={[
              link.style && link.style,
              "pointer-events-auto tracking-wide",
            ]}
            target={link.target}
          >
            {!link.icon && link.label}
            {link.icon && link.icon === "Twitter" && <Twitter width="2rem" />}
            {link.icon && link.icon === "Github" && <Github width="2rem" />}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
