---
const { index = 1, class:className, ...rest } = Astro.props;
const slides = Array.from({ length: 10 + Math.random() * 10 }, (_, i) => i);
---

<div {...rest} tabindex="0" class:list={[
  "flex w-screen overflow-x-hidden",
  className,
]}>
  {
    slides.map((slide, i) => (
      <div class=" w-[30vw] shrink-0 aspect-[3/4] p-1 flex items-center justify-center">
        <div  class="w-full relative h-full border p-8">
            <h1 class="absolute z-10 top-2 left-2">{i}</h1>
          <div data-parallax class="w-full h-full outline outline-gray-800  ">
            
          </div>
        </div>
      </div>
    ))
  }
</div>
